body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  padding-right: 50px;
}

.container-fluid {
  padding: 0 5% 0 5%;
  margin-top: 2%
}

.jumbotron {
  margin-top: 15%
}

/* img {
  width: 100%;
} */

/* .card-img-top {
  max-width: 100%;
} */
/* .my-4 {
  padding: 2rem 0;
} */

.card-text {
  text-align: center;
}

.card-title {
  text-align: center;
}

.card .btn {
  display: block;
  margin: auto;
  /* text-align: center; */
}


/* Footer */
#footer {
  /* background-color: var(--off-white-colour); */
  text-align: center;
  /* padding: 1% 0; */
}

#footer .social {
  margin: 1% 0;
}

.social i {
  margin: 0 2%;
}

#footer p {
  font-size: 0.75rem
}